<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Web Terminal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    html {
      background-color: #282B3C;
      font-family: arial;
    }
    body{
      background-color: #282B3C;
    }
    .status{
      background-color: #000;
      font-weight: bold;
      border-radius: 10px;
      color: white;
      padding: 5px;
      margin-left: 1.5vw;
    }
    
    header.terminal{background:#1c1d26;height:30px;border-radius:8px 8px 0 0;padding-left:25px;padding-bottom: 50px;padding-top: 10px;}
    .terminal-container header .button{width:12px;height:12px;margin:10px 4px 0 0;display:inline-block;border-radius:100px;}
    
    .green{background-color: #3BB662 !important;padding: 8px;}
    .red{background-color: #E75448 !important;padding: 8px;}
    .yellow{background-color: #E5C30F !important;padding: 8px;}

    .terminal-container{text-align:left;width:100%;border-radius:10px;margin:auto;position:relative;}
    .terminal-fixed-top{margin-top: 30px;}
  </style>
  <link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />
</head>


<body>
  <!-- <div class="d-flex justify-content-center align-items-center">
    <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
      <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/>
    </svg>
    <span class="display-4 text-white" style="font-weight: bolder;">
      SYS-Console
    </span>
  </div> -->

  <div class="d-flex justify-content-center mt-4">
    <div style="width: 60vw;">
      <div class="d-flex justify-content-end">
        <button onclick="window.location.reload(false)" class="btn btn-danger mx-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
        </button>
        <div id="status">
          <button class="btn btn-warning">Connecting...</button>
        </div>
      </div>
      <section class="terminal-container terminal-fixed-top">
        <header class="terminal">
          <span class="button red"></span>
          <span class="button yellow"></span>
          <span class="button green"></span>
        </header>
      </section>
      <div style="background-color: #282A36;padding: 20px;">
        <div id="terminal"></div>
      </div>
    </div>
  </div>
</body>

<!-- xterm -->
<script src="/static/js/xterm.js"></script>
<!-- <script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script> -->
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  Terminal.applyAddon(fullscreen)
  Terminal.applyAddon(fit)
  Terminal.applyAddon(webLinks)
  Terminal.applyAddon(search)
  const term = new Terminal({
        cursorBlink: 5,
        macOptionIsMeta: true,
        scrollback: 300,
        theme: {
          background: '#282A36'
        }
    });
  term.open(document.getElementById('terminal'));
  term.fit()
  term.resize(0,30)
  console.log(`size: ${term.cols} columns, ${term.rows} rows`)
  // term.toggleFullScreen(true)
  term.fit()
  term.on('key', (key, ev) => {
    console.log("pressed key", key)
    console.log("event", ev)
    socket.emit("pty-input", {"input": key}, function(response) {
    console.log(response);
    });
  });

  
  

  const socket = io.connect('/pty');
  const status = document.getElementById("status")

  socket.on("pty-output", function(data){
    console.log("new output", data)
    term.write(data.output)
  })

  socket.on("connect", () => {
    fitToscreen()
    status.innerHTML = `
    <button class="btn btn-dark">
      <svg style="margin-right:5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      Connected
    </button>
    `
    }
  )

  socket.on("disconnect", () => {
    status.innerHTML = `
    <button class="btn btn-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
      </svg>
      Disconnected
    </button>
    `
  })

  function fitToscreen(){
    term.fit()
    socket.emit("resize", {"cols": term.cols, "rows": term.rows})
  }

  function debounce(func, wait_ms) {
    let timeout
    return function(...args) {
      const context = this
      clearTimeout(timeout)
      timeout = setTimeout(() => func.apply(context, args), wait_ms)
    }
  }

  const wait_ms = 50;
  window.onresize = debounce(fitToscreen, wait_ms)


</script>

</body>
</html>
